# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

• List popular languages for Data Science

• Data Science Tools

• Some of the popular languages that Data Scienstist use

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. SciPy
3. Pandas

| Data Science Tools |
| -----------------  |
| RStudio |
| Jupyter Notebooks |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335